<div class="global couleur-footer ">
	<footer class='pied-page'>
		 <ul>
		 <li><a href="http://referenced.ca"><%= __('progV') %></a></li>
		 <li><a href="http://tim.cmaisonneuve.qc.ca"><%= __('ctim') %></a></li>
		 <li><a href="https://www.cmaisonneuve.qc.ca/"><%= __('CdM') %></a></li>
		 </ul>
		 <ul>
		 <li><a href="https://nodejs.org/fr/"><%= __('officiel') %></a></li>
		 <li><a href="https://nodejs.org/en/foundation/"><%= __('fondationN') %></a></li>
		 <li><a href="https://www.linuxfoundation.org/projects/"><%= __('fondationL') %></a></li>
		 </ul>
		 <ul>
		 <li><a href="https://www.mongodb.com/"><%= __('sgbd') %></a></li>
		 <li><a href="https://www.mongodb.com/download-center?jmp=nav#community"><%= __('telechargeM') %></a></li>
		 <li><a href="https://docs.npmjs.com/how-npm-works/packages"><%= __('npm') %></a></li>
		 </ul>
	</footer>
</div>
